body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #220482, #660756);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#tic-tac-toe {
  text-align: center;
}

#tic-tac-toe h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}


#message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  pointer-events: none; 
}

.message {
  font-size: 4em;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  animation: fadeInBounce 2s ease-out;
  opacity: 0;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(20px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/**********réinitialisation**/
button {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #b01596;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ce1bb0;
}

  @keyframes glow {
    0% {
      text-shadow: 0 0 5px rgb(146, 43, 125), 0 0 10px rgb(135, 44, 127);
    }
    50% {
      text-shadow: 0 0 20px rgb(244, 158, 234), 0 0 30px rgb(135, 44, 127);
    }
    100% {
      text-shadow: 0 0 5px rgb(146, 43, 125), 0 0 10px rgb(135, 44, 127);
    }
  }
  
#message{
    color: rgb(244, 158, 234);
    animation: glow 3s infinite ease-in-out; 
    text-align: center;
    word-wrap: break-word;
  }

